.pioenvs
.piolibdeps
.vscode/.browse.c_cpp.db*
.vscode/.browse.c_cpp.2.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
/.pio
examples/rak811_gps/src/lorakeys.h
compile_commands.json
